.Maindiv {
    width: 1045px;
    height: 726px;

    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.Maintitle {
    display: flex;
    align-items: center;
    margin: 40px;

    h3 {
        margin: 0 auto 0 0;
        font-size: 20px;
    }

    h2 {
        margin: 0 0 0 auto;
        transform: rotate(45deg);
        font-size: 26px;
        color: #B4B3B3;
    }

    h2:hover {
        color: #111111;
    }
}

.Subdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        display: flex;
    }

    form {
        padding: 20px;
        background-color: #F8FBFC;
        border: 1px solid #B4B3B3;
        border-radius: 20px;
    }

    h3 {
        justify-content: flex-start;
    }

    textarea {
        width: 500px;
        height: 96px;
        border: none;
        background-color: #F8FBFC;
        font-size: 12px;
        resize: none;
        outline: none;
    }

    button {
        margin-top: auto;
        width: 77px;
        height: 34px;

        color: white;
        border-radius: 15px;
        background-color: #5043E7;
    }

    .Subtitle {
        width: 623px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-top: 59px;
        margin-bottom: 10px;

        h3 {
            margin: 0 0;
            font-size: 16px;
            margin-right: 8px;
        }

        .number {
            color: white;
            font-size: 14px;

            width: 40px;
            height: 20px;
            border-radius: 15px;
            background-color: #5043E7;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .Chat {
        overflow: scroll;
        width: 571px;
        height: 320px;
        margin-top: 30px;

        p {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 0;
            text-align: left;
            width: 571px;
            font-size: 12px;
            color: #333333;

            line-height: 150%;
        }

        span {
            color: #EDEDED;
        }
    }

}