.ModalNew {

    width: 100%;
    height: 100%;
    background-color: #B4B3B399;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .Modal {
        gap: 20px;

        width: 763px;
        height: 411px;
        border-radius: 30px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        .Left {
            margin-left: 20px;
            width: 356px;
            height: 361px;

            border-radius: 30px;

            img {
                width: 356px;
                height: 361px;
            }
        }

        .Right {
            /* margin: 15px 15px 15px 30px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-right: auto;

            h2 {
                font-size: 26px;
                color: #B4B3B3;
                margin-left: 320px;
                margin-top: 40px;
                transform: rotate(45deg);
            }

            h2:hover {
                color: #111111;
            }

            form {
                font-size: 14px;
                width: 275px;
                height: auto;
            }

            label {
                height: 72px;
                font-weight: bold;
            }

            .Input {
                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 8px;
                margin-bottom: 10px;
                border: none;

                background-color: #F5F5F5;
                border-radius: 15px;

                width: 335px;
                height: 50px;

                input {
                    width: 100%;
                    height: 100%;
                    border: none;

                    padding-left: 15px;

                    background-color: #F5F5F5;
                    border-radius: 15px;
                    border: #DCDDDF 1px;
                    font-size: 20px;
                }

                img {
                    margin-right: 20px;
                    width: 12px;
                    height: 8px;
                }
            }



            button {
                width: 335px;
                height: 50px;
                border-radius: 15px;

                font-size: 14px;
                color: white;
                background-color: #5043E7;
            }

            .Tip {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;


                width: 275px;
                height: 40px;
                font-size: 10px;
                color: black;
                border-radius: 15px;

                img {
                    width: 12px;
                    height: auto;
                    margin-right: 10px;
                }
            }

            .ModalDiv {
                width: 350px;
                height: 361px;

                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-left: 120px;
                }
            }
        }
    }
}