.DM {
  border-radius: 100%;

  position: fixed;
  z-index: 9999;

  right: 70px;
  bottom: 70px;
  overflow: visible;

  .EmojiModal {
    position: absolute;
    bottom: 0%;
    right: 630%;
  }

  .DMdiv {
    z-index: 9999;
    background-color: #5043e7;
    border-radius: 45px;
    width: 50px;
    height: 50px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-top: 4px;
      width: 25px;
      height: auto;
    }

    .ModalChat {
      position: absolute;
      right: 0%;
      bottom: 0%;

      width: 305px;
      height: 400px;
      border: 1px solid#E4E4E4;
      border-radius: 15px;
      background-color: #ffffff;

      hr {
        width: 100%;
        color: #ededed48;
      }

      .Top {
        display: flex;
        align-items: center;
        margin: 5px 0;

        p {
          margin: 0;
          margin-left: auto;
          margin-right: 18px;
          transform: rotate(45deg);
          font-size: 24px;
          color: #b4b3b3;
        }

        p:hover {
          color: #111111;
        }

        h3 {
          font-size: 14px;
          margin-left: 20px;
        }
      }

      .ChatList {
        overflow: scroll;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 8px;
        width: 305px;
        height: 57%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .TextBox {
          margin-left: auto;
          margin-right: 10px;
          display: flex;
          align-items: flex-end;

          color: #333333;
          font-size: 10px;

          .Text {
            border-radius: 15px;
            background-color: #5043e7;
            color: white;

            width: auto;
            height: auto;

            margin-left: 4px;
            padding: 13px 10px;

            font-size: 14px;
          }
        }

        .HostTextBox {
          margin-left: 10px;
          margin-right: auto;

          display: flex;
          align-items: flex-end;

          color: #333333;
          font-size: 10px;

          .Text {
            border-radius: 15px;
            background-color: #5043e7;
            color: white;

            width: auto;
            height: auto;

            margin-left: 4px;
            padding: 13px 10px;

            font-size: 14px;
          }
        }
      }

      .Bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: auto;

        .Buttons {
          display: flex;
          gap: 6px;

          button {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 28px;
            background-color: #f5f5f5;
            border: 1px #ededed;
            border-radius: 10px;

            color: #333333;
            font-size: 12px;
          }
        }

        .Inputdiv {
          width: 285px;
          height: 45px;

          border: 1px #ededed;
          border-radius: 15px;

          display: flex;
          justify-content: center;
          align-items: center;

          margin-top: 8px;

          background-color: #f5f5f5;

          input {
            border-left: 1px solid#EDEDED;
            width: 212.5px;
            height: 40px;

            border: none;
            background-color: #f5f5f5;

            font-size: 12px;
          }

          .Emoji {
            width: 20px;
            height: auto;

            margin-left: 10px;
            margin-right: 10px;
          }

          .Send {
            width: 20px;
            height: auto;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
