.Maindiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Left */
.Left {
  margin: 1rem;
  display: flex;

  h3 {
    margin-left: 1rem;
  }

  img {
    width: 144px;
    height: 45px;
    border-color: black;
  }
}

/* Right */
.Right {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;

  position: relative;

  img {
    width: 50px;
    height: 50px;

    border-radius: 20px;
    border-color: black;
    margin-left: 1rem;
  }

  .StateFinish {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 50px;
    background-color: #ddfce6;

    font-weight: bold;
    font-size: 14px;
    color: #2a8242;
    border-radius: 20px;
  }

  .StateIng {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 50px;
    background-color: #e3e7fb;

    font-weight: bold;
    font-size: 14px;
    color: #5071fb;
    border-radius: 20px;
  }

  .Number {
    width: 200px;
    height: 50px;

    border-radius: 20px;
    background-color: #5043e7;
    margin-left: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    img {
      width: 10px;
      height: 12px;
      border-radius: 0px;
      border-color: black;

      margin-left: 10px;
    }
  }

  .ProfileModal {
    z-index: 9999;

    position: absolute;
    width: fit-content;
    height: 123px;

    border-radius: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* [위치] */
    top: 110%;
    right: 0%;

    height: 123px;

    border: 1px solid #ededed;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 179px;
      height: 36px;

      margin-bottom: 10px;

      font-size: 12px;
      color: white;
      font-weight: bold;

      background-color: #ff7373;
      border-radius: 10px;

      img {
        margin-left: 0px;
        margin-right: 5px;
        width: 12px;
        height: 12px;
      }
    }

    .Maindiv {
      margin: 0px 10px 0 10px;
      height: 60px;

      h2 {
        font-size: 14px;
        color: #b4b3b3;
        margin-left: 320px;
        transform: rotate(45deg);
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 10px;
      }

      h2:hover {
        color: #111111;
      }

      .Subdiv {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-left: 20px;
          margin-right: 5px;
          width: 43px;
          height: 43px;
        }

        .ModalInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;

          .Name {
            font-size: 14px;
            margin-bottom: 4px;
          }

          span {
            font-size: 10px;
            color: #b4b3b3;
          }
        }
      }
    }
  }
}
