.extradiv {
  position: fixed;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.maindiv {
  backdrop-filter: blur(10px);
  width: 1440px;
  height: 872px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.modal {
  position: relative;

  display: grid;
  grid-template-columns: auto;
  justify-content: center;

  width: 494px;
  height: 331px;

  text-align: center;

  background-color: #ffffff;

  border-radius: 20px;

  .deleteIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
  }

  .joinBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 408px;
    height: 55px;
    background-color: #5043e7;
    border-radius: 20px;

    color: #ffffff;
  }
}

.pwInput {
  display: flex;
  column-gap: 4px;
  justify-content: center;
  margin-bottom: 15px;

  .pwNomal {
    padding: 0px;
    width: 97px;
    height: 119px;
    border-radius: 30px;
    border: #dcdddf solid 1px;

    transition: 0.5s all ease-in-out;

    text-align: center;

    color: #5043e7;

    font-size: 90px;
  }

  .pwWrong {
    padding: 0px;
    width: 97px;
    height: 119px;
    border-radius: 30px;
    border: #ff7373 solid 1px;

    text-align: center;

    color: #5043e7;

    font-size: 90px;
  }
}

.title {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;

  span {
    font-size: 16px;
    color: #b4b3b3;
  }
}

.lowText {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #b4b3b3;
}
