.Maindiv {
  width: 335px;
  height: 726px;

  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
  overflow: hidden;

  .space {
    height: 70px;
  }
}

hr {
  background: #ededed;
  height: 1px;
  border: 0;
  margin: 0;
}

.Head {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;

  /* 텍스트 중간 위치 */
  display: flex;
  align-items: center;
  padding: 0 30px;

  img {
    margin-left: auto;
    width: 20px;
    height: 20px;
  }
}

.Setting {
  margin: 15px 15px 15px 30px;
  height: 450px;

  form {
    font-size: 12px;
    width: 275px;
    height: auto;
  }

  label {
    height: 72px;
    font-weight: bold;
  }

  .Input {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 15px;
    border: none;

    background-color: #f5f5f5;
    border-radius: 15px;

    width: 275px;
    height: 50px;

    input {
      width: 100%;
      height: 100%;
      border: none;

      padding-left: 15px;

      background-color: #f5f5f5;
      border-radius: 15px;
      border: #dcdddf 1px;
    }

    img {
      margin-right: 20px;
      width: 12px;
      height: 8px;
    }
  }

  button {
    width: 275px;
    height: 50px;
    border-radius: 15px;

    font-size: 14px;
    color: white;
    background-color: #5043e7;
  }

  .cancel {
    background-color: #ff7373;
  }

  .Tip {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 275px;
    height: 50px;
    font-size: 10px;
    color: black;
    border-radius: 15px;

    img {
      width: 12px;
      height: auto;
      margin-right: 10px;
    }
  }

  .SettingDiv {
    width: 305px;
    height: 450px;

    h2 {
      font-size: 24px;
      color: #b4b3b3;
      margin-left: 270px;
      transform: rotate(45deg);
    }

    h2:hover {
      color: #111111;
    }
  }
}

.Agenda {
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow: scroll;

  .List {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    height: auto;

    .Block {
      width: 250px;
      height: 50px;
      /* flex때문에 자식요소height도 줄어드는 이유 */
      flex-shrink: 0;

      background-color: #ffffff;
      border-radius: 20px;
      border: 1px solid #ffffff00;

      display: flex;
      align-items: center;
      position: relative;

      font-weight: bold;

      h3 {
        text-align: center;
        margin-left: auto;
        width: 30px;
        color: #b4b3b3;
      }

      img {
        margin-left: auto;
        width: 3px;
        height: auto;
      }

      .Text {
        margin-left: 10px;
        display: flex;
        align-items: center;

        span {
          font-size: 30px;
        }

        h1 {
          font-size: 16px;
          color: #5a5a5a;
          font-weight: bold;
        }

        input {
          font-size: 18px;
          color: #5a5a5a;
          margin: 0;
          border: none;
          width: 160px;
          height: auto;
        }
      }

      .Modal {
        border-radius: 15px;
        background-color: white;
        border: 1px #ededed;
        font-weight: normal;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        z-index: 999;

        right: 7%;
        bottom: -80%;

        width: 109px;
        height: 62px;

        color: #b4b3b3;

        .Options {
          margin: 10px 10px;
          width: 83px;
          height: 42px;

          .Edit {
            margin-bottom: 10px;

            img {
              margin-right: 4px;

              width: 14px;
              height: 14px;
            }
          }

          .Edit:hover {
            color: #111111;
          }

          .Dlt {
            img {
              margin-right: 10px;

              width: auto;
              height: 14px;
            }
          }

          .Dlt:hover {
            color: #111111;
          }
        }
      }
    }

    .ChosenBlock {
      width: 250px;
      height: 50px;
      /* flex때문에 자식요소height도 줄어드는 이유 */
      flex-shrink: 0;

      background-color: #edf2fe;
      border-radius: 20px;

      display: flex;
      align-items: center;
      position: relative;

      font-weight: bold;
      border: 1px solid #5043e7;

      color: 5043e7;

      h3 {
        text-align: center;
        margin-left: auto;
        width: 30px;
        color: #b4b3b3;
      }

      img {
        margin-left: auto;
        width: 3px;
        height: auto;
      }

      .Text {
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: #5043e7;

        span {
          font-size: 30px;
        }

        h1 {
          font-size: 16px;
          font-weight: bold;
        }

        input {
          font-size: 18px;
          color: #5a5a5a;
          /* font-weight: bold; */
          margin: 0;
          border: none;
          width: 160px;
        }
      }

      .Modal {
        border-radius: 15px;
        background-color: white;
        border: 1px #ededed;
        font-weight: normal;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        z-index: 999;

        right: 7%;
        bottom: -80%;

        width: 109px;
        height: 62px;

        color: #b4b3b3;

        .Options {
          margin: 10px 10px;
          width: 83px;
          height: 42px;

          .Edit {
            margin-bottom: 10px;

            img {
              margin-right: 4px;

              width: 14px;
              height: 14px;
            }
          }

          .Edit:hover {
            color: #111111;
          }

          .Dlt {
            img {
              margin-right: 10px;

              width: auto;
              height: 14px;
            }
          }

          .Dlt:hover {
            color: #111111;
          }
        }
      }
    }
  }

  .Add {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 64px;
    color: #b4b3b3;
    font-size: 14px;

    img {
      width: 14px;
      height: auto;
    }
  }
}