.Maindiv {
  width: 1045px;
  height: 726px;
  border-radius: 20px;
  display: grid;
  gap: 20px;
}

.Subdiv {
  display: flex;
  gap: 20px;
}

.Block {
  width: 335px;
  height: 343px;

  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #e4e4e4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 20px;
    margin: auto auto 40px 40px;
  }

  .imgFile {
    margin-top: 93px;

    width: 111px;
    height: 138.75px;
  }

  .imgComment {
    margin-top: 100px;

    width: 147.09px;
    height: 126.63px;
  }

  .imgVote {
    margin-top: 86.6px;

    width: 133px;
    height: 136.13px;
  }
}

.BigBlock {
  width: 690px;
  height: 363px;

  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #e4e4e4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 20px;
    margin: auto auto 40px 40px;
  }

  .imgAI {
    margin-top: 83px;

    width: 155.02px;
    height: 184px;
  }
}

.SmallBlock {
  width: 335px;
  height: 363px;

  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #e4e4e4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 20px;
    margin: auto auto 40px 40px;
  }
}
