.Userlist {
    width: 100%;
    height: 100%;
    margin: 30px 40px;

    h2 {
        font-size: 16px;
        color: #333333;
    }

    h3 {
        font-size: 14px;
        color: #b4b3b3;
    }

    .user {

        display: flex;

        img {
            border-radius: 30px;
            width: 38px;
            height: 38px;
        }

        h2 {
            margin-left: 10px;
        }
    }

    .Host {
        margin-left: 40px;
        margin-bottom: 15px;

        h3 {
            margin: 0 40px 10px 0;
        }
    }

    .Participants {
        margin-left: 40px;
        width: 255px;
        overflow: scroll;
        height: 230px;

        h3 {
            margin: 0 40px 10px 0;
        }
    }
}