.NewVote {
    z-index: 999;
    width: 1045px;
    height: 726px;
    position: absolute;
    top: 0%;
    background-color: rgb(255, 255, 255);
}

.NewVote .Maintitle {
    display: flex;
    align-items: center;
    margin: 40px;

    h3 {
        margin: 0 auto 0 0;
        font-size: 20px;
    }

    h2 {
        margin: 0 0 0 auto;
        transform: rotate(45deg);
        font-size: 26px;
        color: #B4B3B3;
    }

    h2:hover {
        color: #111111;
    }
}

.Votelist {
    position: relative;
    width: 900px;
    height: 515px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .resultHammer {
        position: absolute;
        right: -6%;
        width: 23px;
        height: 24.07px
    }
}

.Vote {
    position: relative;
    display: flex;
    align-items: center;

    width: 611px;
    height: 70px;

    border-radius: 20px;
    border: 1px solid #DCDDDF;
    background-color: #F5F5F5;

    margin-bottom: 20px;


    h1 {
        font-size: 25px;
        color: #B4B3B3;
        margin: 0;
        transform: rotate(45deg);
    }

    h1:hover {
        color: #666666;
    }

    .option {
        text-align: center;
        margin-left: auto;
        margin-right: 25px;
        width: 19px;
        height: 22px;
        float: right;
    }

    .VoteText {
        gap: 10px;
        display: flex;
        align-items: center;

        width: 611px;
        height: 42px;

        h6 {
            margin-left: 20px;
            color: black;
            font-weight: bold;
            font-size: 14px;
        }

        h5 {
            margin-left: auto;
            margin-right: 20px;
            font-size: 12px;
            color: #b4b3b3;
        }
    }
}

.Vote:hover {
    border: 1px solid #5043E7;
}

.Subdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        display: flex;
    }

    form {
        padding: 20px;
        background-color: #F8FBFC;
        border: 1px solid #B4B3B3;
        border-radius: 20px;
    }

    h3 {
        justify-content: flex-start;
    }

    .Subtitle {
        width: 611px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-top: 59px;
        margin-bottom: 38px;

        h3 {
            margin: 0 0;
            font-size: 20px;
            margin-right: 8px;
        }

        h4 {
            font-size: 14px;
            color: #B4B3B3;
            margin: 0;
        }

        h1 {
            color: #B4B3B3;
            margin: 0 8px 0 20px;
        }
    }

    .Subsubtitle {
        width: 611px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 15px;

        h3 {
            margin: 0 0;
            font-size: 20px;
            margin-right: 8px;
        }

        h4 {
            font-size: 14px;
            color: #B4B3B3;
            margin: 0;
        }

        h1 {
            color: #B4B3B3;
            margin: 0 8px 0 20px;
        }
    }
}

.Buttons {
    display: flex;
    width: 611px;
    margin-top: auto;
    margin-bottom: 149px;

    button {
        width: 98px;
        height: 40px;
        border-radius: 15px;
        font-size: 14px;
    }

    .Cancel {
        /* margin-right: 207.5px; */
        background-color: #ffffff;
        border: 1px solid #B4B3B3;
    }

    .CreateEdit {
        margin-left: auto;
        background-color: #5043E7;
        border: none;
        color: #ffffff;
    }

    .BeforeEdit {
        margin-left: auto;
        background-color: #ffffff;
        border: 1px solid #B4B3B3;
    }

    .FinishVote {
        margin-left: 10px;
        background-color: #5043E7;
        border: none;
        color: #ffffff;
    }
}

.ChosenVote {
    position: relative;
    display: flex;
    align-items: center;

    width: 611px;
    height: 70px;

    border-radius: 20px;
    border: 1px solid #5043E7;
    background-color: #F5F5F5;
    margin-bottom: 20px;

    h1 {
        font-size: 25px;
        color: #B4B3B3;
        margin: 0;
        transform: rotate(45deg);
    }

    h1:hover {
        color: #666666;
    }

    .option {
        text-align: center;
        margin-left: auto;
        margin-right: 25px;
        width: 19px;
        height: 22px;
        float: right;
    }

    .VoteText {
        gap: 10px;
        display: flex;
        align-items: center;

        width: 611px;
        height: 42px;

        h6 {
            margin-left: 20px;
            font-weight: bold;
            font-size: 14px;
        }

        h5 {
            margin-left: auto;
            margin-right: 20px;
            font-size: 12px;
            color: #b4b3b3;
        }
    }
}


.ResultVote {
    position: relative;
    display: flex;
    align-items: center;

    width: 611px;
    height: 70px;

    border-radius: 20px;
    background-color: #5043E7;
    border: 1px solid #5043E7;
    margin-bottom: 20px;

    color: white;

    .option {
        text-align: center;
        margin-left: auto;
        margin-right: 25px;
        width: 19px;
        height: 22px;
        float: right;
    }

    .VoteText {
        gap: 10px;
        display: flex;
        align-items: center;

        width: 611px;
        height: 42px;

        h6 {
            margin-left: 20px;
            font-weight: bold;
            font-size: 14px;
        }

        h5 {
            margin-left: auto;
            margin-right: 20px;
            font-size: 12px;
        }
    }
}